@font-face 
{
    font-family: 'press2start';
    src: url('../fonts/PressStart2P-Regular/PressStart2P-Regular.woff2') format('woff2'),
        url('../fonts/PressStart2P-Regular/PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

